.width-100 {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: none;
  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #9e0808;
  top: 0;
  border-top: 5px solid #690000;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 500;
}
.top-bar .menu .menu-button {
  color: #fff;
  font-size: 30px;
}
.container {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.container header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 12rem;
  font-weight: lighter;
  flex: 8;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  text-transform: uppercase;
}
@media (max-width: 1025px) {
  .container header h1 {
    font-size: 10rem;
  }
}
@media (max-width: 500px) {
  .container header h1 {
    font-size: 8rem;
  }
}
.container header p {
  color: #fff;
}
.container header div {
  width: 50%;
}
.container header button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #9e0808;
  color: #fff;
  border: 0px solid black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 2%;
}
@media (max-width: 500px) {
  .container header button {
    width: 100%;
  }
}
.container header button:hover {
  background: #690000;
  color: #fff;
}
.container header .more {
  bottom: 0;
  color: #fff;
  font-size: 2rem;
  height: 8%;
  letter-spacing: 0.225em;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.container header a {
  text-decoration: none;
}
.container .features {
  background-color: #d74731;
  padding: 150px 5%;
  color: #251111;
}
@media (max-width: 1025px) {
  .container .features {
    padding: 5% 5%;
  }
}
.container .features h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  margin: 0 0 1em 0;
}
@media (max-width: 500px) {
  .container .features h2 {
    font-size: 5rem;
    line-height: 1.25em;
    margin: 0;
  }
}
.container .features p {
  font-size: 2.6rem;
}
.container .how-it-works {
  background-color: #690000;
  padding: 5% 5%;
}
.container .how-it-works h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  margin: 0 0 1em 0;
}
@media (max-width: 500px) {
  .container .how-it-works h2 {
    font-size: 5rem;
    line-height: 1.25em;
    margin: 0;
  }
}
.container .how-it-works .how-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: row;
}
.container .how-it-works .how-body .how-section {
  width: 30%;
}
@media (max-width: 500px) {
  .container .how-it-works .how-body .how-section {
    width: 100%;
    padding: 2%;
  }
}
.container .how-it-works .how-body .how-section h3,
.container .how-it-works .how-body .how-section p {
  color: #fff;
}
@media (max-width: 500px) {
  .container .how-it-works .how-body {
    flex-direction: column;
    padding: 5% 10%;
  }
}
.container .cta {
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  color: #fff;
  padding: 5% 20%;
}
.container .cta .cta-left {
  width: 50%;
  padding: 0 40px;
}
@media (max-width: 1025px) {
  .container .cta .cta-left {
    width: 75%;
    padding: 5% 0%;
  }
}
@media (max-width: 500px) {
  .container .cta .cta-left {
    width: 100%;
  }
}
.container .cta .cta-right {
  width: 50%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #5b3f36;
  color: #fff;
  border: 0px solid black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 0 40px;
}
@media (max-width: 500px) {
  .container .cta .cta-right {
    width: 100%;
  }
}
.container .cta .cta-right:hover {
  background: #301810;
  color: #fff;
}
@media (max-width: 1025px) {
  .container .cta {
    flex-direction: column;
    padding: 5% 10%;
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #9e0808;
  color: #fff;
  text-align: center;
}
