.width-100 {
  width: 100%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Open Sans', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Permanent Marker', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h3 {
  font-size: 2.8rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  width: 100%;
  margin: 0 auto;
}
.top-bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  height: 44px;
  background-color: #5d4037;
  top: 0;
  border-top: 4px solid #321911;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  z-index: 500;
  padding: 0 50px;
}
@media (max-width: 500px) {
  .top-bar {
    padding: 0 5%;
  }
}
.top-bar .heading {
  font-family: 'Permanent Marker', cursive;
  color: #fff;
  font-size: 30px;
}
@media (max-width: 500px) {
  .top-bar .heading {
    font-size: 20px;
  }
}
.top-bar .menu .menu-button {
  color: #fff;
  font-size: 30px;
}
@media (max-width: 500px) {
  .top-bar .menu .menu-button {
    font-size: 20px;
  }
}
.menu {
  left: 25px;
}
.menu .menu-button {
  padding: 15px;
  color: #fff;
  cursor: pointer;
}
.menu .menu-button:hover {
  color: #808e95;
}
.menu .menu-content {
  background: #b0bec5;
  color: #fff;
  height: 100%;
  max-width: 80%;
  overflow-y: auto;
  padding: 50px 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 25%;
  z-index: 10002;
  box-shadow: -2px 0px 4px -1px rgba(0, 0, 0, 0.2), -4px 0px 5px 0px rgba(0, 0, 0, 0.14), -1px 0px 10px 0px rgba(0, 0, 0, 0.12);
}
@media (max-width: 1000px) {
  .menu .menu-content {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .menu .menu-content {
    width: 85%;
  }
}
.menu .menu-content .close-btn {
  cursor: pointer;
  display: block;
  height: 25px;
  position: absolute;
  right: 25px;
  top: 11px;
  vertical-align: middle;
  width: 25px;
}
.menu .dropdown-link {
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  text-decoration: none;
  color: #808e95;
}
.menu a {
  border: 0;
  color: inherit;
  display: inline;
  font-size: 3rem;
  outline: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}
.menu a:hover {
  color: #808e95;
  background-color: #e2f1f8;
}
.menu .fas {
  font-size: 30px;
}
.menu li {
  border-top: solid 1px rgba(0, 0, 0, 0.125);
  padding: 30px 0;
  text-align: center;
}
.menu li:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  color: #808e95;
  background-color: #e2f1f8;
}
.menu li:first-child {
  border-top: 0;
}
.menu .menu-hidden {
  display: none;
}
.menu .slide-in-top {
  -webkit-animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu .slide-out-top {
  -webkit-animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: slide-out-top 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}
.menu .slide-in-right {
  -webkit-animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.menu .slide-out-right {
  -webkit-animation: slide-out-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-out-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
/**
   * ----------------------------------------
   * animation slide-in-top
   * ----------------------------------------
   */
@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}
/**
   * ----------------------------------------
   * animation slide-out-top
   * ----------------------------------------
   */
@-webkit-keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
@keyframes slide-out-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(-1000px);
    transform: translateY(-1000px);
    opacity: 0;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-6 11:32:19
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
/* ----------------------------------------------
 * Generated by Animista on 2019-2-6 11:34:2
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-out-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
@keyframes slide-out-right {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
}
.container {
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-image: linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../../images/banner.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.container header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  text-align: center;
}
.container header h1 {
  font-family: 'Permanent Marker', cursive;
  font-size: 12rem;
  font-weight: lighter;
  flex: 8;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  text-transform: uppercase;
}
@media (max-width: 1000px) {
  .container header h1 {
    font-size: 10rem;
  }
}
@media (max-width: 500px) {
  .container header h1 {
    font-size: 8rem;
  }
}
.container header p {
  color: #fff;
}
.container header div {
  width: 50%;
}
@media (max-width: 500px) {
  .container header div {
    width: 100%;
  }
}
.container header button {
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #5d4037;
  color: #fff;
  border: 0px solid black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 2%;
}
@media (max-width: 500px) {
  .container header button {
    width: 100%;
  }
}
.container header button:hover {
  background: #321911;
  color: #fff;
}
@media (max-width: 500px) {
  .container header button {
    width: 70%;
    margin: 10%;
  }
}
.container header .more {
  bottom: 0;
  color: #fff;
  font-size: 2rem;
  height: 8%;
  letter-spacing: 0.225em;
  opacity: 1;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  z-index: 1;
}
.container header a {
  text-decoration: none;
  color: #fff;
}
.container .features {
  background-color: #321911;
  box-shadow: 0px -2px 4px -1px rgba(0, 0, 0, 0.2), 0px -4px 5px 0px rgba(0, 0, 0, 0.14), 0px -1px 10px 0px rgba(0, 0, 0, 0.12);
  padding: 150px 15%;
  color: #fff;
}
@media (max-width: 1000px) {
  .container .features {
    padding: 5% 5%;
  }
}
.container .features h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  margin: 0 0 1em 0;
}
@media (max-width: 500px) {
  .container .features h2 {
    font-size: 5rem;
    line-height: 1.25em;
    margin: 0;
  }
}
.container .features p {
  font-size: 2.8rem;
}
.container .how-it-works {
  background-color: #808e95;
  color: #141010;
  padding: 5% 3%;
}
@media (max-width: 1000px) {
  .container .how-it-works {
    padding: 5% 1%;
  }
}
@media (max-width: 500px) {
  .container .how-it-works {
    width: 100%;
    padding: 5% 0 0 0;
  }
}
.container .how-it-works h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8rem;
  font-weight: lighter;
  text-align: center;
  color: #fff;
  line-height: 1.75em;
  margin: 0 0 1em 0;
}
@media (max-width: 500px) {
  .container .how-it-works h2 {
    font-size: 5rem;
    line-height: 1.25em;
    margin: 0;
  }
}
.container .how-it-works .how-body {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
}
.container .how-it-works .how-body .how-section {
  width: 30%;
  padding: 1% 1% 1% 0;
  background-color: #fff;
  color: #141010;
  width: 450px;
  height: 200px;
  margin: 1%;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  border-radius: 8px;
}
.container .how-it-works .how-body .how-section img {
  width: 110px;
  margin: 10px;
  height: auto;
}
@media (max-width: 500px) {
  .container .how-it-works .how-body .how-section img {
    width: 25%;
    height: 50%;
  }
}
@media (max-width: 500px) {
  .container .how-it-works .how-body .how-section {
    width: 100%;
    padding: 0 5%;
    height: auto;
    margin: 0;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
  }
}
@media (max-width: 500px) {
  .container .how-it-works .how-body {
    flex-direction: column;
    padding: 5% 0 0 0;
  }
}
.container .cta {
  background-color: transparent;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  color: #fff;
  padding: 5% 10%;
}
.container .cta .cta-left {
  width: 50%;
  padding: 0 40px;
}
@media (max-width: 1000px) {
  .container .cta .cta-left {
    width: 75%;
    padding: 5% 0%;
  }
}
@media (max-width: 500px) {
  .container .cta .cta-left {
    width: 100%;
  }
}
.container .cta .cta-right {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .container .cta .cta-right {
    width: 70%;
    margin: 10%;
  }
}
.container .cta .cta-right button {
  width: 50%;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  background-color: #5d4037;
  color: #fff;
  border: 0px solid black;
  cursor: pointer;
  font-size: 20px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  margin: 2%;
  padding: 0 40px;
}
@media (max-width: 500px) {
  .container .cta .cta-right button {
    width: 100%;
  }
}
.container .cta .cta-right button:hover {
  background: #321911;
  color: #fff;
}
.container .cta .cta-right a {
  text-decoration: none;
  color: #fff;
}
@media (max-width: 1000px) {
  .container .cta {
    flex-direction: column;
    padding: 5% 10%;
    text-align: center;
  }
}
@media (max-width: 500px) {
  .container .cta {
    padding: 10% 3%;
  }
}
.menu-on {
  opacity: 0.75;
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  background-color: #321911;
  color: #fff;
  text-align: center;
}
